
@{
    ViewData["Title"] = "Add produit";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#registerbtn').click(function () {

            var nameProduit = $('#nameProduit').val();
            var prixProduit = $('#prixProduit').val();
            var quantite = $('#quantite').val();
            var catégorieId = $('#categorie').val();
            var image = $('#image').val();
            console.log(image);
            console.log({ NameProduit: nameProduit, PrixProduit: prixProduit, Quantite: quantite, CatégorieId: catégorieId, ImagePath: image  })

            var data = { NameProduit: nameProduit, PrixProduit: prixProduit, Quantite: quantite, CatégorieId: catégorieId, ImagePath:image };
            $.ajax({
                url: 'https://localhost:44318/api/produits/addproduct',
                data: JSON.stringify(data),
                method: 'Post',
                dataType: 'json',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                
                success: function (data) {
                    console.log(data);
                    alert('add');
                    window.location = 'Produit.html';
                },
                error: function (err) {
                    alert(err);
                    alert('non');
                }
            });
        });
    });


    $(document).ready(function () {

        var categorie = $('#categorie');

        $(document).ready(function () {
            $.ajax({

                url: 'https://localhost:44318/api/Catégories/GetAll',
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {

                    categorie.empty();
                    $.each(data, function (index, val) {
                        console.log(val.id);


                        var categ = val.id;

                        categorie.append('<option value="' + categ +'">'+categ+'</option>')
                    });
                }, error: function (err) {
                    console.log(err)

                }
            })
        })
    });

</script>


<div class="container">

    <h1>Produit</h1>
    <hr>

    <form method="post" id="myform" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="NameProduit" name="NameProduit" id="nameProduit" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter PrixProduit" name="prixProduit" id="prixProduit" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Quantite" name="quantite" id="quantite" required>
        </div>
        <div class="form-group">
            <select class="form-control" name="cars" id="categorie">
            </select>
        </div>
        <div class="form-group">
            <input type="file" class="form-control" name="file" id="image" required>
        </div>

        <div>           
            <input type="button" class="button" value="Enregistrer" id="registerbtn">
        </div>
    </form>
</div>










